@charset "UTF-8";
/*@import url(//fonts.googleapis.com/css?family=Open+Sans);*/

#heroLocation {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/8bitHero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:auto;
  }

  /* MIGHT NEED THIS - TO CONTROL OVERFLOW OF ELEMENTS INSIDE OF CONTAINER*/ 
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
  }
  
    
  /* Make the image fully responsive */
    .carousel-inner #testimonial {
      width: 100%;
      height: 100%;
    }
/* asterix represents all HTML elements */
*{
    margin: 0;
    /*height: auto;
    width: 100%;
     background-color: hsla(45, 100%, 50%, 0.1);
     font-size: 1.05em;
    font-family: Verdana, sans-serif; */
    
}
/* So if you want pretty small text on small screens, 
you might choose 0.85em as your bottom-out value. 
And if you want it to grow really big with big screens, 
you could add 2vw instead of just 1*/
html {
  /*Base font: The general rule is, use em for overriding other font-sizes in a relative way, but only when necessary.*/
 /* em's are approximately the size of the letter “m” in the current font!*/
  font-size: calc(1em + 1vw); /*well worth it!*/
}


html, body { /*, #partners, #cta font-size: 1.10em; */
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 22px; 
}

/* START Ref: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/*/
h1 { font-size: 2em }
h2 { font-size: 1.5em }
button { font-size: inherit; font-family: inherit; }
input { font-size: inherit; font-family: inherit; }
footer { font-size: 0.8em; padding: 1rem; }
/* END Ref: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/*/


/*from signage board*/
.w3-theme-l5 {color:#000 !important; background-color:#fbfcfc !important}
.w3-theme-l4 {color:#000 !important; background-color:#f3f4f6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e6e9ed !important}
.w3-theme-l2 {color:#000 !important; background-color:#dadee4 !important}
.w3-theme-l1 {color:#000 !important; background-color:#ced3db !important}
.w3-theme-d1 {color:#000 !important; background-color:#aab4c0 !important}
.w3-theme-d2 {color:#fff !important; background-color:#939faf !important}
.w3-theme-d3 {color:#fff !important; background-color:#7c8b9e !important}
.w3-theme-d4 {color:#fff !important; background-color:#67768b !important}
.w3-theme-d5 {color:#fff !important; background-color:#566374 !important}

.w3-theme-light {color:#000 !important; background-color:#fbfcfc !important}
.w3-theme-dark {color:#fff !important; background-color:#566374 !important}
.w3-theme-action {color:#fff !important; background-color:#566374 !important}

.w3-theme {color:#000 !important; background-color:#c1c8d1 !important}
.w3-text-theme {color:#c1c8d1 !important}
.w3-border-theme {border-color:#c1c8d1 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#c1c8d1 !important}
.w3-hover-text-theme:hover {color:#c1c8d1 !important}
.w3-hover-border-theme:hover {border-color:#c1c8d1 !important} 