@charset "UTF-8";

/* MIGHT NEED THIS - TO CONTROL OVERFLOW OF ELEMENTS INSIDE OF CONTAINER
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
  }*/
  
:root{
  --main-bg-color: #ffffff;
  --mybackground-color: hsla(45, 100%, 50%, 0.1);
  --myh2-color: #ffa500;
  --myh5-color: #f74200;
  --mytext-color: #ff4500;
  --myfont-size: calc(1em + 0.6vw);  
  --myline-height: 1.6em;
}

html {
  background-color: var(--mybackground-color);
  font-size: var(--myfont-size);
}
h2 {
  color: var(--myh2-color); /* orange */
  margin-bottom: 1em;
}

h5 {
  color: var(--myh5-color);
}
h6 { color: var(--mytext-color); }

footer { font-size: 0.8em; padding: 1rem; }

/*
p {
  font-size: var(--myfont2-size);
}

 FROM w3css-18 .css FILE

@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans);*

#heroLocation {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/8bitHero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:auto;
  }

  * MIGHT NEED THIS - TO CONTROL OVERFLOW OF ELEMENTS INSIDE OF CONTAINER*
  .clearfix::after {
  content: "";
  clear: both;
  display: table;
  }
  
    
  * Make the image fully responsive *
    .carousel-inner #testimonial {
      width: 100%;
      height: 100%;
    }
* asterix represents all HTML elements *
*{
    margin: 0;
    *height: auto;
    width: 100%;
     background-color: hsla(45, 100%, 50%, 0.1);
     font-size: 1.05em;
    font-family: Verdana, sans-serif; *
    
}
* So if you want pretty small text on small screens, 
you might choose 0.85em as your bottom-out value. 
And if you want it to grow really big with big screens, 
you could add 2vw instead of just 1*
html {
  *Base font: The general rule is, use em for overriding other font-sizes in a relative way, but only when necessary.*
 * em's are approximately the size of the letter “m” in the current font!*
  font-size: calc(1em + 1vw); *well worth it!*
}


html, body { *, #partners, #cta font-size: 1.10em; *
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 22px; 
}

* START Ref: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/*
h1 { font-size: 2em }
h2 { font-size: 1.5em }
button { font-size: inherit; font-family: inherit; }
input { font-size: inherit; font-family: inherit; }
footer { font-size: 0.8em; padding: 1rem; }
* END Ref: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units*
*/

